<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Favicon. -->
        <link rel="shortcut icon" href="#" type="image/x-icon" />
        <!-- Google Fonts. -->
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet"
        />
        <!-- Fonts Awsome. -->
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet"
        />
        <!-- Normalize. -->
        <link rel="stylesheet" type="text/css" href="./css/normalize.css" />
        <!-- CSS. -->
        <link rel="stylesheet" type="text/css" href="./css/home.css" />
        <title>Mercado Liebre</title>
    </head>

    <body id="body" class="gris_claro">
        <header id="header" class="amarillo">
            <div class="box_top">
                <div class="box_logo">
                    <img src="./images/logo-mercado-liebre.svg" alt="Logo" class="imagen" />
                </div>

                <div class="box_busqueda">
                    <form action="#" method="get" class="formulario">
                        <input type="search" name="buscador" id="buscador" placeholder="Buscar" />
                        <button type="submit" class="border_search">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>

                <div class="box_mensaje_02">
                    <!-- 
                    Reemplace "i" x "span" para utilizar icono adentro de "p", y utilice una entidad, 
                    "&nbsp;", para generar espacio en blanco.
                -->
                    <p class="parrafo_top">
                        <span class="fas fa-hand-holding-usd"></span>&nbsp; Comprá en cuotas y sin
                        tarjeta de crédito
                    </p>
                </div>
            </div>

            <div class="box_mensaje">
                <p class="parrafo_top">
                    <span class="fas fa-hand-holding-usd"></span>&nbsp; Comprá en cuotas y sin
                    tarjeta de crédito
                </p>
            </div>

            <div class="box_desordenada">
                <ul class="desordenada">
                    <li class="item">
                        <a href="#" class="ancla">Ofertas</a>
                    </li>
                    <li class="item">
                        <a href="#" class="ancla">Tiendas Oficiales</a>
                    </li>
                    <li class="item">
                        <a href="#" class="ancla">Vender</a>
                    </li>
                    <li class="item">
                        <a href="#" class="ancla">Ayuda</a>
                    </li>
                </ul>
            </div>

            <div class="box_desordenada">
                <ul class="desordenada">
                    <li class="item_2">
                        <a href="/register" class="ancla"
                            >Creá tu cuenta &nbsp;<span class="far fa-id-card"></span
                        ></a>
                    </li>
                    <li class="item_2">
                        <a href="/login" class="ancla"
                            >Ingresá &nbsp;<span class="fas fa-sign-in-alt"></span
                        ></a>
                    </li>
                    <li class="item_2">
                        <a href="#" class="ancla"
                            >Mis compras &nbsp;<span class="fas fa-shopping-basket"></span
                        ></a>
                    </li>
                </ul>
            </div>

            <div class="burger-menu">
                <a href="#" class="ancla_02">
                    <i class="fas fa-bars"></i>
                </a>
            </div>
        </header>

        <section id="box_banner">
            <img src="./images/img-home-banner.jpg" alt="Banner" class="imagen" />
        </section>

        <main id="main" class="gris_claro">
            <section id="seccion_formulario">
                <form action="#" method="post" class="registro">
                    <div class="box_h2">
                        <h2 class="titulo_h2">Registro:</h2>
                    </div>

                    <div class="box_registro">
                        <label for="apellido_nombres" class="label">Apellido & Nombre/s</label>
                        <input
                            type="text"
                            name="apellido_nombres"
                            id="apellido_nombres"
                            placeholder="Letras & Espacios"
                            minlength="6"
                            maxlength="30"
                            class="input"
                        />
                        <span class="alerta">Incorrecto</span>
                    </div>

                    <div class="box_registro">
                        <label for="usuario" class="label">Usuario</label>
                        <input
                            type="text"
                            name="usuario"
                            id="usuario"
                            placeholder="Letras & Numeros"
                            minlength="6"
                            maxlength="30"
                            class="input"
                        />
                        <span class="alerta">Incorrecto</span>
                    </div>

                    <div class="box_registro">
                        <label for="" class="label"></label>
                        <input type="text" name="" id="" />
                        <span class="alerta"></span>
                    </div>
                </form>
            </section>
        </main>

        <footer id="footer">
            <div class="box_footer">
                <i class="fas fa-credit-card"></i>
                <p class="parrafo_01">
                    <strong>Pagá con tarjeta o en efectivo</strong>
                </p>
            </div>

            <div class="box_footer">
                <p class="parrafo_01">
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </p>
            </div>

            <div class="box_footer">
                <i class="fas fa-gift"></i>
                <p class="parrafo_01">
                    <strong>Envío gratis desde $ 2.500</strong>
                </p>
            </div>

            <div class="box_footer">
                <p class="parrafo_01">
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </div>

            <div class="box_footer">
                <i class="fas fa-user-shield"></i>
                <p class="parrafo_01">
                    <strong>Seguridad, de principio a fin</strong>
                </p>
            </div>

            <div class="box_footer">
                <p class="parrafo_01">
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
            </div>

            <div class="box_footer">
                <p class="parrafo_01">
                    <strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong>
                </p>
            </div>
        </footer>
    </body>
</html>
